.dashboard {
  .page-header {
    margin: 0;
  }

  .user-table {
    font-size: 12px;

    th {
      a {
        max-width: 250px;
        text-align: center;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }
    }



    tr {
      td {
        max-width: 250px;
        text-align: center;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }
    }
  }
}

h5 {
  display:inline-block;
}
