.app-header {
  border-bottom: 2px solid black;

  .header {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  h2 {
    display: inline-block;
    display: inline;
    margin-left: 2%;
  }

  .logout {
    display: inline;
    float: right;
    margin-top: 2%;
  }
}
