<div>

  <mat-form-field>
    <mat-select (ngModelChange)="onSelectChange($event)" [(ngModel)]="selectedOrgnization">
      <mat-option *ngFor="let org of orgnizationList" [value]="org.value">
        {{ org.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="panel panel-default border">
    <table class="table user-table" [mfData]="filterUserList | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
      [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
        <tr>
          <th style="width: 20%">
            <mfDefaultSorter by="firstName">Name</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="top_organization">Employer</mfDefaultSorter>
          </th>
          <th style="width: 5%">
            <mfDefaultSorter by="emailId">User Email</mfDefaultSorter>
          </th>
          <th style="width: 5%">
            <mfDefaultSorter by="firstLoginTime">date Of Login</mfDefaultSorter>
          </th>
        </tr>
        <tr>
          <th colspan="6">
            <div class="input-group width100">
              <form action="" class="search-form">
                <div class="form-group has-feedback">
                  <label for="search" class="sr-only">Search</label>
                  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" [(ngModel)]="filterQuery" name="search"
                    id="search" placeholder="search">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td>{{item.firstName}}</td>
          <td>{{item.top_organization}}</td>
          <td>{{item.emailId}}</td>
          <td>{{item.firstLoginTime | date: 'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
      <tfoot class="hidden-xs">
        <tr>
          <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[10,100]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
